body{
    font-style: sans-serif;
    background-image: url("../rework/img/pexels-photo-289737\ \(1\).webp"); 
    background-size: cover;
    margin:0 auto;
    padding: 0;
    height: 100vh;


}

.container {
    display: flex;
    justify-content:center;
    
}

.box{

    width: 200px;
    height: 200px;
    background: rgba(0, 208, 255,0.2);
}

input{
    display: flexbox;
    padding: 2px;
    align-items: center;


}